/*font-family: 'Montserrat', sans-serif;*/
/** {
    width: tamaño;
    height: tamaño;
    border: 2px solid red;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}*/

body {
    font-family: 'Allerta', sans-serif;
    margin: 0;
}

table {
    width: 100%;
}

th {
    background: #273b47;
    color: white;
    padding: 10px 20px;
    text-align: left
}

td {
    padding: 20px;
}

table, th, td {
    border: 1px solid #273b47;
    border-collapse: collapse;
}

input, textarea {
    outline: 0;
}

input:focus, textarea:focus {
    background: lightgray;
}

.contenedor {
    width: 800px;
    margin: auto;
    position: relative;
}

.background {
    background-image: url('../images/background.png');
    background-size: cover;

}

.button {
    border-radius: 8px;
    border: none;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    background: #fd324e;
    background: linear-gradient(to left,#fe344e, #ff7250);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
    /*background: #f85032;
    background: -moz-linear-gradient(left,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
    background: -webkit-linear-gradient(left,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
    background: linear-gradient(to right,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 );*/
}

.titulo {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    margin-top: 70px;
}

.title-a {
    font-size: 24px;
    margin-top: 0;
}

.title-b {
    font-size: 50px;
    margin-bottom: 20px;
}

.titulo span {
    text-decoration: underline;
}

.guitarras {
    color: #1F313C;
    margin-bottom: 50px;
}

.guitarras h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.portada {
    color: white;
    padding: 20px;
    height: 500px;
}

.portada button {
    margin-bottom: 70px;
}

.header {
    position: relative;
}

.menu {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.menu li {
    /*esta propiedad hace que la lista pase a ser cada elemento al lado del otro*/
    display: inline-block;
    margin-left: 30px;
}

.menu li:before {
    content: '∘';
    font-size: 50px;
    line-height: 20px;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

.logotipo {
    display: inline-block;
    margin-left: 0;
}

.guitarra {
    margin: 10px 10px 40px 10px;
    padding: 10px;
    /*overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 8px;
}

.guitarra ol {
    padding: 0;
}

.guitarra.b {
    height: 190px
}

.contenedor-guitarra-a {
    padding-left: 20px;
}

.contenedor-guitarra-b {
    margin-left: 370px;
    position: relative;
    bottom: 90px;
}

.right{
    float: right;
    position: relative;
    top: -127px;
}

.left{
    float: left;
    position: relative;
}

.footer {
    background: #273b47;
    padding: 50px 10px;
}

.contacto {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}

.contacto img {
    display: block;
}

.contacto strong {
    display: block;
}

.contacto a {
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}

.footer .contenedor {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    width: 420px;
    color: white;
}

.col1, .col2 {
    display: flex;
    flex-direction: column;
}

.col1 {
    margin-right: 15px;
}

.col2 {
    align-items: flex-start;
}

.col2 .button {
    margin-top: 10px;
}

.intereses label {
    font-size: 12px;
}

.formulario label, .sexo, .intereses {
    margin-bottom: 10px;
}

.sexo {
    margin-top: 10px;
}

.sect {
    display: inline-block;
}

.intereses ul {
    padding-left: 0;
}

.tabla {
    margin: 50px 0;
}